{% extends 'base.html.twig' %}

{% block title %}New WeatherData{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Create New WeatherData</h1>
        {{ include('weather_data/_form.html.twig') }}
        <a href="{{ path('app_weather_data_index') }}" class="btn btn-secondary mt-2">Back to list</a>
    </div>
{% endblock %}
